{% extends 'base.html.twig' %}

{% block title %}add Livre{% endblock %}

{% block body %}


    <div class="example-wrapper">
        <h1>Ajouter une nouvelle Livre</h1>


        {{ form(F1) }}
    </div>
{% endblock %}
