{% extends 'base.html.twig' %}

{% block title %}add Categorie{% endblock %}

{% block body %}


    <div class="example-wrapper">
        <h1>Ajouter une nouvelle Categories</h1>


        {{ form(F1) }}
    </div>
{% endblock %}
