{% extends 'base.html.twig' %}

{% block title %}Update Categorie{% endblock %}

{% block body %}


    <div class="example-wrapper">
        <h1>Mettre a jour une nouvelle Categories</h1>


        {{ form(F1) }}
    </div>
{% endblock %}
